{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.period|truncatechars:200 }}</p>
        </div>

        {% if post.published_date %}
        <div class="date">
        <a class="btn btn-default" href="{% url 'post_celeryone_remove' pk=post.pk %}">중지</a>
        <!--  {{ post.published_date }} -->
        </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'post_celeryone_publish' pk=post.pk %}">실행</a>
        {% endif %}

    {% endfor %}
{% endblock %}
